# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

DB_URL=jdbc:postgresql://ep-fancy-base-az3qc0dp-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_ku3j1AXwSNIB

JWT_SECRET=o2aXuvh3lyMdy_cLqc3xvKB2jM6D905ulGeKtsnPEVk=
CORS_ALLOWED_ORIGINS=http://localhost:3000

#SMTP
SMTP_MAIL_PASSWORD=fmeg oplt qgmd fiva
SMTP_MAIL_USERNAME=buigiahuy1506@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

STORAGE_IMAGE_MAX_SIZE=5242880

#PAYOS
PAYOS_API_KEY=6dd5318f-e073-4fc8-9d3f-3c53569e63fc
PAYOS_CLIENT_ID=e47efd2e-9907-4c09-850b-074b84ff7133
PAYOS_CHECKSUM_KEY=8ebf06c4b1d62072aa5388f04cde195a329cb790f5fad0a27faf0aea89f25e30

#storage image
STORAGE_PROVIDER=r2
R2_REGION=auto
R2_ACCESS_KEY_ID=5f8ff43b7539877de4525fc9ed6d936b
R2_SECRET_ACCESS_KEY=eea1138c2d022f5042b3224b27b3886907cf5dcd82795b9306b8f788060cc626
R2_ACCOUNT_ID=f452486d5bdeefd2b7464d3bd3870fd8
R2_ENDPOINT=https://f452486d5bdeefd2b7464d3bd3870fd8.r2.cloudflarestorage.com
R2_BUCKET=signify
R2_PUBLIC_BASE_URL=https://pub-4014569bdf5b42ac8831c708e84c5ac1.r2.dev
STORAGE_IMAGE_MAX_SIZE=5242880
JWT_REFRESH_ENCRYPTION_KEY=45l+MLc6qNhhnhpA7Yf2BCBrCtRpTEdDAtvqeUGlvZA=
